* {
  margin: 0 auto;
  padding: 0;
}

.header {
  width: 1000px;
  height: 170px;
  border: red groove 4px;
  font-size: 25pt;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 130px;
}

.menu ul li a {
  text-decoration: none;
  background-color: darkgray;
  border: inset 3pt red;
  width: 200px;
  height: 30px;
  display: block;
  font-weight: bold;
  font-size: 17pt;
  padding-top: 10px;
}
.menu ul li {
  list-style: none;
  padding: 10px;
}
.menu ul {
  text-align: center;
  display: flex;
}
.menu ul li a :hover {
  background-color: red;
  color: white;
}

.content h1 {
  text-align: center;
  padding-top: 20px;
}

.content {
  width: 1000px;
  height: 550px;
  border: greenyellow groove 4px;
  text-align: justify;
  line-height: 30pt;
  text-indent: 35px;
  font-size: 16pt;
  overflow: scroll;
}
.content h1 {
  text-align: center;
}

.content p {
  text-align: justify;
  padding: 15px;
}
.footer {
  width: 1000px;
  text-align: center;
  padding-top: 25px;
  font: bold;
}
